<!-- START SERVICES SECTION -->
<div id="services" class="page">    


	<div class="container">	
		<div class="row">	
			<div class="sixteen columns">            
				<!-- START TITLE -->	            
				<div class="title">
					<h1>Our Services</h1>
					<div class="subtitle">
						<p>Our services are delivered by our team with <span class="head-highlight">years of experience</span> are <span class="head-highlight">passionate</span> about developing business.</p>
					</div><!-- END SUBTITLE -->
				</div><!-- END TITLE -->  	                           
			</div><!-- END SIXTEEN COLUMNS -->  
		</div><!-- END ROW -->         
	</div><!-- END CONTAINER -->       

	<div class="fullwidth grey">       

		<div class="container clearfix">
			<div class="row">

				<div class="one-third column">
					<!-- START service-box -->
					<div class="service-box">
						<!-- START ICON -->
						<div>
							<h3>Software development</h3>                
							<i class="service-icon icon-rocket"></i>
						</div>
						<!-- END ICON -->  

						<!-- START service-box DESCIPTION --> 
						<div class="service-description">
							<p>This is the backbone of our team and we won't be shy: We are pretty good at it :)</p>
						</div>
						<h6>What we offer</h6>
						<ul class="styled-list">
							<li>Custom software development</li>
							<li>Rapid prototyping</li>
							<li>Infrastructure setup</li>
							<li>Maintenance</li>
						</ul>
						<!-- START service-box DESCIPTION --> 

					</div> <!-- END service-box -->                                   
				</div> <!-- END ONETHIRD COLUMN --> 




				<div class="one-third column">
					<!-- START service-box -->
					<div class="service-box">
						<!-- START ICON -->
						<div>
							<h3>Data science</h3>                
							<i class="service-icon icon-beaker"></i>
						</div>
						<!-- END ICON -->  

						<!-- START service-box DESCIPTION --> 
						<div class="service-description">
							<p>If Your database seems as an untouchable black box, fear not! We can disect it and gain new information from it that will amaze you!</p>
						</div> 

						<h6>What we offer</h6>

						<ul class="styled-list">
							<li>Personalized exploration</li>
							<li>Data mining</li>
							<li>Investigation</li>
							<li>Machine learning</li>
						</ul>

						<!-- START service-box DESCIPTION --> 

					</div> <!-- END service-box -->                                   
				</div> <!-- END ONETHIRD COLUMN --> 

				<div class="one-third column">
					<!-- START service-box -->
					<div class="service-box">
						<!-- START ICON -->
						<div>
							<h3>Consulting</h3>                
							<i class="service-icon icon-tablet"></i>
						</div>
						<!-- END ICON -->  

						<!-- START service-box DESCIPTION --> 
						<div class="service-description">
							<p>As seasoned IT veterans, providing Your company with good advices will be extremely beneficial for You</p>
						</div>
						<!-- START service-box DESCIPTION --> 
						<h6>What we offer</h6>
						<ul class="styled-list">
							<li>Workforce training</li>
							<li>Infrastructure analysis</li>
							<li>IT - Business connection evaluation</li>
							<li>Support of decision making</li>
						</ul>

					</div> <!-- END service-box -->                                   
				</div> <!-- END ONETHIRD COLUMN --> 

			</div>  <!-- END ROW -->  
		</div> <!-- END CONTAINER -->  

	</div>

</div>
<!-- END SERVICES SECTION -->
