<!-- START TEAM SECTION --> 
<div id="team" class="page">

	<div class="container">	
		<div class="row">	
			<div class="sixteen columns">            
				<!-- START TITLE -->	            
				<div class="title">
					<h1>Our Team</h1>
					<div class="subtitle">
						<p>Professional & Outstanding <span class="head-highlight">ideas</span> of our <span class="head-highlight">passionate team</span> makes us unique in every sense.</p>
					</div><!-- END SUBTITLE -->
				</div><!-- END TITLE -->  	                           
			</div><!-- END SIXTEEN COLUMNS -->  
		</div><!-- END ROW -->         
	</div><!-- END CONTAINER -->            


	<div class="fullwidth grey">  

		<div class="fancy-header2">       
			<h1>Who are we anyway?</h1>
			<h2 class="head-highlight">Meet the team who build the dream</h2>
		</div>     

		<div class="container">	
			<div class="row">      

				<div class="sixteen columns">               

					<!-- START TEAM MEMBER --> 
					{% include member.html name='sloby' %}
					<!-- END TEAM MEMBER -->            
					
					<!-- START TEAM MEMBER --> 
					{% include member.html name='sram' %}
					<!-- END TEAM MEMBER -->           

				</div><!-- END SIXTEEN COULMNS --> 
			</div> <!-- END ROW -->     
		</div><!-- END CONTAINER --> 
	</div>
</div>
<!-- END TEAM SECTION --> 
