<!-- START HOME SECTION -->    
<div id="home" class="home-parallax">
	<div class="home-text-wrapper">

		<div class="home-logo-text">
			<a href="#about">Welcome to {{ site.title }}</a>
		</div>

		<div id="home-slider" class="flexslider">			
			<ul class="slides styled-list">

				<li class="home-slide"><p class="home-slide-content">We talk the language of <span class="highlight">business</span></p></li>
				<li class="home-slide"><p class="home-slide-content">We <span class="highlight">love</span> intelligent solutions</p></li>
				<li class="home-slide"><p class="home-slide-content">We <span class="highlight">seek</span> challenges</p></li>

			</ul>
		</div><!-- END FLEXSLIDER -->
	</div><!-- END HOME TEXT WRAPPER -->
</div><!-- END HOME SECTION -->
