<!-- START PARALLAX SECTION -->	
<div id="parallax1" class="parallax">
	<div class="bg1 parallax-bg"></div><!-- END PARALLAX BACKGROUND -->
	<div class="overlay"></div><!-- END PATTERN OVERLAY -->
	<div class="container clearfix">
		<div class="parallax-content">
			<p class="quote"><i class="icon-quote-left"></i>Quality means doing it right when no one is looking<i class="icon-quote-right"></i></p>
			<div class="quote-author">Henry Ford</div>
		</div><!-- END PARALLAX CONTENT -->
	</div><!-- END CONTAINER -->
</div>
<!-- END PARALLAX SECTION -->
