<!-- START TEAM SECTION --> 
<div id="team" class="page">

	<div class="container">	
		<div class="row">	
			<div class="sixteen columns">            
				<!-- START TITLE -->	            
				<div class="title">
					<h1>Our Team</h1>
					<div class="subtitle">
						<p>Professional & Outstanding <span class="head-highlight">ideas</span> of our <span class="head-highlight">passionate team</span> makes us unique in every sense.</p>
					</div><!-- END SUBTITLE -->
				</div><!-- END TITLE -->  	                           
			</div><!-- END SIXTEEN COLUMNS -->  
		</div><!-- END ROW -->         
	</div><!-- END CONTAINER -->            


	<div class="fullwidth grey">  

		<div class="fancy-header2">       
			<h1>Who are we anyway?</h1>
			<h2 class="head-highlight">Meet the team who build the dream</h2>
		</div>     

		<div class="container">	
			<div class="row">      

				<div class="sixteen columns">               

					<!-- START TEAM MEMBER --> 
					<div class="team-member">
						<!-- START TEAM THUMBNAIL -->  
						<div class="team-thumb img-wrp">

							<!-- START MEMBER IMAGE --> 
							<img src="images/team/szabolcs.jpg" alt="team">	
							<!-- END MEMBER IMAGE --> 
							<!-- START TEAM OVERLAY -->  
							<div class="team-overlay">
								<div class="img-overlay"></div>
								<!-- START OVERLAY CONTENT -->  
								<div class="overlay-content">                            

									<!-- START MEMBER ROLE --> 
									<h4>Founder - CEO</h4>
									<!-- END MEMBER ROLE --> 

									<!-- START PROFILE LINK --> 
									<p><a data-toggle="modal" href="#team-1" class="modal-popup-link view-profile">View Profile</a></p>
									<!-- END PROFILE LINK -->  
								</div><!-- END OVERLAY CONTENT -->  

							</div><!-- END TEAM OVERLAY -->          
						</div><!-- END TEAM THUMBNAIL -->  

						<!-- START TEAM DESCRIPTION -->  
						<div class="team-desc">
							<h4>Szabolcs Máj</h4>
						</div>  
						<!-- END TEAM DESCRIPTION -->  




						<!-- START TEAM MEMBER BIO MODAL POPUP  -->
						<div id="team-1" class="modal hide fade.in animated fadeIn">

							<!-- START TEAM BIO -->       
							<div class="member-bio">
								<div class="container">      

									<!-- START MODAL POPUP CLOSE BUTTON -->                                     
									<a href="#" class="close" data-dismiss="modal">×</a>
									<!-- END MODAL POPUP CLOSE BUTTON -->


									<!-- START MEMBER NAME AND ROLE --> 
									<div class="member-role">
										<h1>Szabolcs Máj</h1>
										<h4 class="head-highlight">Founder - CEO</h4>
									</div>
									<!-- END MEMBER NAME AND ROLE -->  


									<div class="row">
										<div class="seven columns">
											<!-- START MEMBER IMAGE --> 
											<img src="images/team/szabolcs.jpg" alt="team">	
											<!-- END MEMBER IMAGE --> 
										</div><!-- END COLUMN --> 

										<!-- START MEMBER DESCRIPTION --> 
										<div class="eight columns member-description">
											<p class="lead">Szabolcs is the Swiss knife in the team. He likes to learn everything from developing web applications to data mining with R to building a virtual server with a continous integration service on it. In his freetime he loves doing Brazilian Jiu-Jitsu, choking out his friends for fun :)</p>

											<div class="social-icon social-email"><a href="mailto:szabolcs.maj@gmail.com" target="_blank" data-original-title="Email">Email</a></div>
										</div><!-- END MEMBER DESCRIPTION -->    

									</div><!-- END ROW -->  
								</div><!-- END CONTAINER --> 
							</div><!-- END TEAM BIO -->                     
						</div><!-- END TEAM MEMBER BIO MODAL POPUP -->  
					</div><!-- END TEAM MEMBER -->            


					<!-- START TEAM MEMBER --> 
					<div class="team-member">
						<!-- START TEAM THUMBNAIL -->  
						<div class="team-thumb img-wrp">

							<!-- START MEMBER IMAGE --> 
							<img src="images/team/sram.jpg" alt="team">	
							<!-- END MEMBER IMAGE --> 
							<!-- START TEAM OVERLAY -->  
							<div class="team-overlay">
								<div class="img-overlay"></div>
								<!-- START OVERLAY CONTENT -->  
								<div class="overlay-content">                            

									<!-- START MEMBER ROLE --> 
									<h4>Founder - CTO</h4>
									<!-- END MEMBER ROLE --> 

									<!-- START PROFILE LINK --> 
									<p><a data-toggle="modal" href="#team-2" class="modal-popup-link view-profile">View Profile</a></p>
									<!-- END PROFILE LINK -->  
								</div><!-- END OVERLAY CONTENT -->  

							</div><!-- END TEAM OVERLAY -->          
						</div><!-- END TEAM THUMBNAIL -->  

						<!-- START TEAM DESCRIPTION -->  
						<div class="team-desc">
							<h4>Norbert Sram</h4>
						</div>  
						<!-- END TEAM DESCRIPTION -->  




						<!-- START TEAM MEMBER BIO MODAL POPUP  -->
						<div id="team-2" class="modal hide fade.in animated fadeIn">

							<!-- START TEAM BIO -->       
							<div class="member-bio">
								<div class="container">      

									<!-- START MODAL POPUP CLOSE BUTTON -->                                     
									<a href="#" class="close" data-dismiss="modal">×</a>
									<!-- END MODAL POPUP CLOSE BUTTON -->


									<!-- START MEMBER NAME AND ROLE --> 
									<div class="member-role">
										<h1>Norbert Sram</h1>
										<h4 class="head-highlight">Founder - CTO</h4>
									</div>
									<!-- END MEMBER NAME AND ROLE -->  


									<div class="row">
										<div class="seven columns">
											<!-- START MEMBER IMAGE --> 
											<img src="images/team/sram.jpg" alt="team">	
											<!-- END MEMBER IMAGE --> 
										</div><!-- END COLUMN --> 

										<!-- START MEMBER DESCRIPTION --> 
										<div class="eight columns member-description">
											<p class="lead">If you have to say one thing about Norbert, it would be that he LOVES software development. He has a PhD in software engineering and he lifts heavy weights whenever he can</p>
											<div class="social-icon social-email"><a href="mailto:norbert.schramm@gmail.com" target="_blank" data-original-title="Email">Email</a></div>

										</div><!-- END MEMBER DESCRIPTION -->   

									</div><!-- END ROW -->  
								</div><!-- END CONTAINER --> 
							</div><!-- END TEAM BIO -->                     
						</div><!-- END TEAM MEMBER BIO MODAL POPUP -->  
					</div><!-- END TEAM MEMBER -->           


					<!-- START TEAM MEMBER --> 
					<div class="team-member">
						<!-- START TEAM THUMBNAIL -->  
						<div class="team-thumb img-wrp">

							<!-- START MEMBER IMAGE --> 
							<img src="images/team/longcat.jpg" alt="team">	
							<!-- END MEMBER IMAGE --> 
							<!-- START TEAM OVERLAY -->  
							<div class="team-overlay">
								<div class="img-overlay"></div>
								<!-- START OVERLAY CONTENT -->  
								<div class="overlay-content">                            

									<!-- START MEMBER ROLE --> 
									<h4>Longcat</h4>
									<!-- END MEMBER ROLE --> 

									<!-- START PROFILE LINK --> 
									<p><a data-toggle="modal" href="#team-3" class="modal-popup-link view-profile">View Profile</a></p>
									<!-- END PROFILE LINK -->  
								</div><!-- END OVERLAY CONTENT -->  

							</div><!-- END TEAM OVERLAY -->          
						</div><!-- END TEAM THUMBNAIL -->  

						<!-- START TEAM DESCRIPTION -->  
						<div class="team-desc">
							<h4>Longcat</h4>
						</div>  
						<!-- END TEAM DESCRIPTION -->  




						<!-- START TEAM MEMBER BIO MODAL POPUP  -->
						<div id="team-3" class="modal hide fade.in animated fadeIn">

							<!-- START TEAM BIO -->       
							<div class="member-bio">
								<div class="container">      

									<!-- START MODAL POPUP CLOSE BUTTON -->                                     
									<a href="#" class="close" data-dismiss="modal">×</a>
									<!-- END MODAL POPUP CLOSE BUTTON -->


									<!-- START MEMBER NAME AND ROLE --> 
									<div class="member-role">
										<h1>Longcat</h1>
										<h4 class="head-highlight">Longcat</h4>
									</div>
									<!-- END MEMBER NAME AND ROLE -->  


									<div class="row">
										<div class="seven columns">
											<!-- START MEMBER IMAGE --> 
											<img src="images/team/longcat.jpg" alt="team">	
											<!-- END MEMBER IMAGE --> 
										</div><!-- END COLUMN --> 

										<!-- START MEMBER DESCRIPTION --> 
										<div class="eight columns member-description">
											<p class="lead">He is the beginning and the end, he is alpha and omega, he is god and the devil. Longcat is loooooooooooooooooooooong</p>

											<div class="social-icon social-email"><a href="mailto:hallo@example.com" target="_blank" data-original-title="Email">Email</a></div>
										</div><!-- END COLUMN --> 

									</div><!-- END ROW -->  
								</div><!-- END CONTAINER --> 
							</div><!-- END TEAM BIO -->                     
						</div><!-- END TEAM MEMBER BIO MODAL POPUP -->  
					</div><!-- END TEAM MEMBER -->          

				</div><!-- END SIXTEEN COULMNS --> 
			</div> <!-- END ROW -->     
		</div><!-- END CONTAINER --> 
	</div>
</div>
<!-- END TEAM SECTION --> 
