<!-- START ABOUT US SECTION -->	
<div id="about" class="page">

	<div class="container">	
		<div class="row">	
			<div class="sixteen columns">            
				<!-- START TITLE -->	            
				<div class="title">
					<h1>About {{ site.title }}</h1>
					<div class="subtitle">
						<p>We are the <span class="head-highlight">skilled software developers</span> without the awkwardness. We see every problem through a <span class="head-highlight">business owners</span> eyes as we have concocted thousands of business solutions ourselves.</p>
					</div><!-- END SUBTITLE -->
				</div><!-- END TITLE -->  	                           
			</div><!-- END SIXTEEN COLUMNS -->  
		</div><!-- END ROW -->         
	</div><!-- END CONTAINER -->

	<hr />

	<div class="container">  
		<div class="fancy-header2">       
			<h4>Why we do it?</h4>
			<h2 class="head-highlight">We build the bridge between Your business and software</h2>
		</div>
		<div class="row">          
			<div class="one-third column">
				<div class="service-features">
					<div class="img-container">
						<img src="images/icons/icons/paperplane.png" alt="Service Features">
					</div>  
					<h3>Rock solid foundations</h3>                
					<p>Everybody enjoys doing what they are best at. We love what software can accomplish by our hands and we love business. With years and years of experience behind us rest assured, You get what You really deserve</p>
				</div>               
			</div><!-- END ONE THIRD COLUMN -->

			<div class="one-third column">
				<div class="service-features">
					<div class="img-container">
						<img src="images/icons/icons/lab.png" alt="Service Features">
					</div>                   

					<h3>Improve at every turn</h3>                
					<p>We seek to make ourselves better whenever we can. This mentality keeps us on the bleeding edge of technology which ultimately benefits those who we do business with</p>
				</div>               

			</div><!-- END ONE THIRD COLUMNS -->   

			<div class="one-third column">
				<div class="service-features">
					<div class="img-container">                  
						<img src="images/icons/icons/like.png" alt="Service Features">
					</div>
					<h3>Grand plan</h3>                
					<p>We are not going to lie: We want to prove that dealing with "the IT people" can be fun and easy :)</p>
				</div>               

			</div><!-- END ONE THIRD COLUMNS -->                 




		</div><!-- END ROW -->                            		
	</div>        
</div>
<!-- End ABOUT US SECTION -->
