<!-- START NAVIGATION -->
<nav class="light sticky-nav navigation">
	<!-- START CONTAINER -->	
	<div class="container clearfix">			
		<div class="four columns">			
			<!-- START LOGO -->	
			<div class="logo large">
				<a href="{{ site.index_path }}"><img src="{{ "/images/logo.jpg" | absolute_url }}" title="logo" alt="Logo"/></a>
			</div>
			<!-- END LOGO -->			
		</div><!-- END FOUR COLUMNS -->   


		<div class="twelve columns">            		
			<!-- START NAVIGATION MENU ITEMS -->
			<ul class="main-menu large nav" id="nav">
				<li><a href="{{ site.index_path }}#home">Home</a></li>
				<li><a href="{{ site.index_path }}#about">About</a></li>
				<li><a href="{{ site.index_path }}#services">Services</a></li>
				<li><a href="{{ site.index_path }}#contact">Contact</a></li>
			</ul>
			<!-- END NAVIGATION MENU ITEMS -->				
		</div><!-- END TWELVE COLUMNS -->	
	</div><!-- END CONTAINER -->	
</nav>
<!-- END NAVIGATION -->
