---
layout: default
---
<body class="multipage">

{% include navigation.html %}
    <!-- START PAGE WRAP -->    
    <div id="blog-single" class="page-wrap">
    
    	<!-- START PROJECT-SINGLE -->	
	    <div class="page multipage">
	
			<div class="container">	
				<div class="row">	
					<div class="sixteen columns">            
						<!-- START TITLE -->	            
						<div class="title">
							<h1>{{ page.title }}</h1>
						</div><!-- END TITLE -->  	                           
					</div><!-- END SIXTEEN COLUMNS -->  
				</div><!-- END ROW -->         
			</div><!-- END CONTAINER -->
	
		<div class="container">
			<div class="twelve columns">
				{{ content }}
			</div> 
			
			<div class="four columns">
			
				<div class="sidebar">
					
					<div class="widget">
                    <div class="widget-title">Our Twitter</div>
                      <ul id="twitter-feed" class="twitter styled-list"></ul>
                    </div>
				
					<div class="widget tags">
						<div class="widget-title">Tags</div>
						<ul class="tags-list styled-list">
							<li><a href="#">Design</a></li>
							<li><a href="#">Photography</a></li>
							<li><a href="#">Branding</a></li>
							<li><a href="#">Lifestyle</a></li>
							<li><a href="#">Video</a></li>
							<li><a href="#">Tours</a></li>
							<li><a href="#">Places</a></li>
							<li><a href="#">App</a></li>                                                        
						</ul>
					</div>
					
				</div>
				
			</div>
						
		</div>

<div class="clear"></div>
