---
layout: default
---
<body class="multipage">

{% include navigation.html %}
    <!-- START PAGE WRAP -->    
    <div id="blog-single" class="page-wrap">
    
    	<!-- START PROJECT-SINGLE -->	
	    <div class="page multipage">
	
			<div class="container">	
				<div class="row">	
					<div class="sixteen columns">            
						<!-- START TITLE -->	            
						<div class="title">
							<h1>{{ page.title }}</h1>
						</div><!-- END TITLE -->  	                           
					</div><!-- END SIXTEEN COLUMNS -->  
				</div><!-- END ROW -->         
			</div><!-- END CONTAINER -->
	
		<div class="container">
			<div class="twelve columns">
				{{ content }}
			</div> 
			
			<div class="four columns">		
				{% include sidebar.html %}
			</div>
						
		</div>

<div class="clear"></div>
