---
layout: blog-default
---
<div class="post">
	<div class="post-media">                   
		<img src="images/blog/blog3.jpg" alt="portfolio slider" />
	</div>                
	<div class="post-content">
		{{ content }}
	</div>

	<div class="post-tags">
		<i class="icon-tags"></i>
		<ul>
			<li><a href="#">Design</a></li>
			<li><a href="#">Branding</a></li>
			<li><a href="#">Typography</a></li>
		</ul>
	</div>
</div>



<!--
<div class="comments">
	<h3 class="heading"><span>2 Comments</span></h3>
	<ol class="commentlist">
		<li class="comment byuser comment-author-admin bypostauthor even thread-even depth-1" id="comment-4">
		<div class="the-comment">
			<div class="avatar"> <img alt="comment" src="images/team/team1.png" class="avatar avatar-54 photo" height="54" width="54"> </div>
			<div class="comment-box">
				<div class="comment-author meta"> <a href="#">admin</a> August 2, 2012 at 1:38 pm<a class="comment-reply-link" href="#"> - Reply</a> </div>
				<div class="comment-text">
					<p>This is a test … Quisque ligulas ipsum, euismod atras vulputate iltricies etri elit.</p>
				</div>
			</div>
		</div>
		<ul class="children">
			<li class="comment byuser comment-author-admin bypostauthor odd alt depth-2" id="comment-5">
			<div class="the-comment">
				<div class="avatar"> <img alt="comment" src="images/team/team2.png" class="avatar avatar-54 photo" height="54" width="54"> </div>
				<div class="comment-box">
					<div class="comment-author meta"> <a href="#">admin</a> August 2, 2012 at 1:38 pm<a class="comment-reply-link" href="#"> - Reply</a> </div>
					<div class="comment-text">
						<p>This is a reply test … Class aptent taciti sociosqu ad litora torquent per connubial rostra.</p>
					</div>
				</div>
			</div>
			</li>
		</ul>
		</li>
	</ol>
	<h3 class="heading"><span>Leave a Comment</span></h3>
	<form action="#" method="post">
		<div id="comment-input">
			<input type="text" name="comment[name]" id="name" placeholder="Name (required)">
			<input type="text" name="comment[email]" id="email" placeholder="Email (required)">
			<input type="text" name="comment[subject]" id="subject" placeholder="Subject">
		</div>
		<div id="comment-textarea">
			<textarea name="comment[message]" id="message" cols="39" rows="4" placeholder="Your Message"></textarea>
		</div>
		<div id="comment-submit">
			<div>
				<input name="submit" type="submit" id="submit" tabindex="5" value="Post Comment" class="comment-submit small button green">
			</div>
		</div>
	</form> 
</div>
-->
