<!DOCTYPE HTML>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="de">  <!--<![endif]-->
<head>

<!-- META DATA -->
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<meta charset="UTF-8">
<title>Tacgnol Services</title>
<meta name="description" content="A Template by RocknRolla Designs"/>
<meta name="keywords" content="HTML, CSS, JavaScript, PHP"/>
<meta name="author" content="RocknRolla Designs"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">

<!-- GOOGLE WEB FONTS INCLUDE -->
<link href='http://fonts.googleapis.com/css?family=Oswald|Open+Sans:400,600' rel='stylesheet' type='text/css'>

<!-- JARVIS THEME STYLESHEETS -->

<link rel="stylesheet" href="css/skeleton.css" type="text/css">
<link rel="stylesheet" href="css/reset.css" type="text/css">    
<link rel="stylesheet" href="css/style.css" type="text/css">
<link rel="stylesheet" href="css/social.css" type="text/css">             
<link rel="stylesheet" href="css/flexslider.css" type="text/css">	
<link rel="stylesheet" href="css/prettyPhoto.css" type="text/css" media="screen"/><!-- PrettyPhoto -->	
<link rel="stylesheet" href="css/font-awesome.css" type="text/css"/><!-- PrettyPhoto -->    
<link rel="stylesheet" href="css/shortcodes.css" type="text/css"/> 	
<link rel="stylesheet" href="css/media.css"><!-- Media Queries -->


<link id="layout_color" href="css/light.css" rel="stylesheet" type="text/css"/>  
<link id="primary_color_scheme" href="css/colors/yellow.css" rel="stylesheet" type="text/css"/>      

<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->


</head>

<body class="onepage" data-spy="scroll" data-target=".navigation">
<div id="load"></div>




<!-- START PAGE WRAP -->    
<div class="page-wrap">


	<!-- START HOME SECTION -->    
	<div id="home" class="home-parallax">
		<div class="home-text-wrapper">

			<div class="home-logo-text">
				<a href="#about">Welcome to TacgnoL</a>
			</div>

			<div id="home-slider" class="flexslider">			
				<ul class="slides styled-list">

					<li class="home-slide"><p class="home-slide-content">We talk the language of <span class="highlight">business</span></p></li>
					<li class="home-slide"><p class="home-slide-content">We <span class="highlight">love</span> intelligent solutions</p></li>
					<li class="home-slide"><p class="home-slide-content">We <span class="highlight">seek</span> challenges</p></li>

				</ul>
			</div><!-- END FLEXSLIDER -->
		</div><!-- END HOME TEXT WRAPPER -->
	</div><!-- END HOME SECTION -->



	<!-- START NAVIGATION -->
	<nav class="light sticky-nav navigation">
		<!-- START CONTAINER -->	
		<div class="container clearfix">			
			<div class="four columns">			
				<!-- START LOGO -->	
				<div class="logo large">
					<a href="#home">TACGNOL</a>
					<!--<a href="#home"><img src="images/logo.png" title="logo" alt="Logo"/></a>-->
				</div>
				<!-- END LOGO -->			
			</div><!-- END FOUR COLUMNS -->   


			<div class="twelve columns">            		
				<!-- START NAVIGATION MENU ITEMS -->
				<ul class="main-menu large nav" id="nav">
					<li><a href="#home">Home</a></li>                
					<li><a href="#about">About</a></li>
					<li><a href="#team">Team</a></li>
					<li><a href="#services">Services</a></li>
					<li><a href="#portfolio">Portfolio</a></li>
					<li><a href="shortcodes.html">Shortcodes</a></li>                  
					<li><a href="blog.html">Blog</a></li>                  
					<li><a href="#contact">Contact</a></li>
				</ul>
				<!-- END NAVIGATION MENU ITEMS -->				
			</div><!-- END TWELVE COLUMNS -->	
		</div><!-- END CONTAINER -->	
	</nav>
	<!-- END NAVIGATION -->


	<!-- START ABOUT US SECTION -->	
	<div id="about" class="page">

		<div class="container">	
			<div class="row">	
				<div class="sixteen columns">            
					<!-- START TITLE -->	            
					<div class="title">
						<h1>About Tacgnol</h1>
						<div class="subtitle">
							<p>We are the <span class="highlight">skilled software developers</span> without the awkwardness. We see every problem through a <span class="highlight">business owners</span> eyes as we have concocted thousands of business solutions ourselves.</p>
						</div><!-- END SUBTITLE -->
					</div><!-- END TITLE -->  	                           
				</div><!-- END SIXTEEN COLUMNS -->  
			</div><!-- END ROW -->         
		</div><!-- END CONTAINER -->

		<hr />

		<div class="container">  
			<div class="fancy-header2">       
				<h4>Why we do it?</h4>
				<h2 class="highlight">We build the bridge between Your business and software</h2>
			</div>
			<div class="row">          
				<div class="one-third column">
					<div class="service-features">
						<div class="img-container">
							<img src="images/icons/icons/paperplane.png" alt="Service Features">
						</div>  
						<h3>Rock solid foundations</h3>                
						<p>Everybody enjoys doing what they are best at. We love what software can accomplish by our hands and we love business. With years and years of experience behind us rest assured, You get what You really deserve</p>
					</div>               
				</div><!-- END ONE THIRD COLUMN -->

				<div class="one-third column">
					<div class="service-features">
						<div class="img-container">
							<img src="images/icons/icons/lab.png" alt="Service Features">
						</div>                   

						<h3>Improve at every turn</h3>                
						<p>We seek to make ourselves better whenever we can. This mentality keeps us on the bleeding edge of technology which ultimately benefits those who we do business with</p>
					</div>               

				</div><!-- END ONE THIRD COLUMNS -->   

				<div class="one-third column">
					<div class="service-features">
						<div class="img-container">                  
							<img src="images/icons/icons/like.png" alt="Service Features">
						</div>
						<h3>Grand plan</h3>                
						<p>We are not going to lie: We want to prove that dealing with "the IT people" can be fun and easy :)</p>
					</div>               

				</div><!-- END ONE THIRD COLUMNS -->                 




			</div><!-- END ROW -->                            		
		</div>        
	</div>
	<!-- End ABOUT US SECTION -->


	<!-- START PARALLAX SECTION -->	
	<div id="parallax1" class="parallax">
		<div class="bg1 parallax-bg"></div><!-- END PARALLAX BACKGROUND -->
		<div class="overlay"></div><!-- END PATTERN OVERLAY -->
		<div class="container clearfix">
			<div class="parallax-content">
				<p class="quote"><i class="icon-quote-left"></i>Quality means doing it right when no one is looking<i class="icon-quote-right"></i></p>
				<div class="quote-author">Henry Ford</div>
			</div><!-- END PARALLAX CONTENT -->
		</div><!-- END CONTAINER -->
	</div>
	<!-- END PARALLAX SECTION -->


	<!-- START TEAM SECTION --> 
	<div id="team" class="page">

		<div class="container">	
			<div class="row">	
				<div class="sixteen columns">            
					<!-- START TITLE -->	            
					<div class="title">
						<h1>Our Team</h1>
						<div class="subtitle">
							<p>Professional & Outstanding <span class="highlight">ideas</span> of our <span class="highlight">passionate team</span> makes us unique in every sense.</p>
						</div><!-- END SUBTITLE -->
					</div><!-- END TITLE -->  	                           
				</div><!-- END SIXTEEN COLUMNS -->  
			</div><!-- END ROW -->         
		</div><!-- END CONTAINER -->            


		<div class="fullwidth grey">  

			<div class="fancy-header2">       
				<h4>Who are we anyway?</h4>
				<h2 class="highlight">Meet the team who build the dream</h2>
			</div>     

			<div class="container">	
				<div class="row">      

					<div class="sixteen columns">               

						<!-- START TEAM MEMBER --> 
						<div class="team-member">
							<!-- START TEAM THUMBNAIL -->  
							<div class="team-thumb img-wrp">

								<!-- START MEMBER IMAGE --> 
								<img src="images/team/szabolcs.jpg" alt="team">	
								<!-- END MEMBER IMAGE --> 
								<!-- START TEAM OVERLAY -->  
								<div class="team-overlay">
									<div class="img-overlay"></div>
									<!-- START OVERLAY CONTENT -->  
									<div class="overlay-content">                            

										<!-- START MEMBER ROLE --> 
										<h4>Founder - CEO</h4>
										<!-- END MEMBER ROLE --> 

										<!-- START PROFILE LINK --> 
										<p><a data-toggle="modal" href="#team-1" class="modal-popup-link view-profile">View Profile</a></p>
										<!-- END PROFILE LINK -->  
									</div><!-- END OVERLAY CONTENT -->  

								</div><!-- END TEAM OVERLAY -->          
							</div><!-- END TEAM THUMBNAIL -->  

							<!-- START TEAM DESCRIPTION -->  
							<div class="team-desc">
								<h4>Szabolcs Máj</h4>
							</div>  
							<!-- END TEAM DESCRIPTION -->  




							<!-- START TEAM MEMBER BIO MODAL POPUP  -->
							<div id="team-1" class="modal hide fade.in animated fadeIn">

								<!-- START TEAM BIO -->       
								<div class="member-bio">
									<div class="container">      

										<!-- START MODAL POPUP CLOSE BUTTON -->                                     
										<a href="#" class="close" data-dismiss="modal">×</a>
										<!-- END MODAL POPUP CLOSE BUTTON -->


										<!-- START MEMBER NAME AND ROLE --> 
										<div class="member-role">
											<h1>Szabolcs Máj</h1>
											<h4 class="highlight">Founder - CEO</h4>
										</div>
										<!-- END MEMBER NAME AND ROLE -->  


										<div class="row">
											<div class="seven columns">
												<!-- START MEMBER IMAGE --> 
												<img src="images/team/szabolcs.jpg" alt="team">	
												<!-- END MEMBER IMAGE --> 
											</div><!-- END COLUMN --> 

											<!-- START MEMBER DESCRIPTION --> 
											<div class="eight columns member-description">
												<p class="lead">Szabolcs is the Swiss knife in the team. He likes to learn everything from developing web applications to data mining with R to building a virtual server with a continous integration service on it. In his freetime he loves doing Brazilian Jiu-Jitsu, choking out his friends for fun :)</p>

												<div class="social-icon social-email"><a href="mailto:szabolcs.maj@gmail.com" target="_blank" data-original-title="Email">Email</a></div>
											</div><!-- END MEMBER DESCRIPTION -->    

										</div><!-- END ROW -->  
									</div><!-- END CONTAINER --> 
								</div><!-- END TEAM BIO -->                     
							</div><!-- END TEAM MEMBER BIO MODAL POPUP -->  
						</div><!-- END TEAM MEMBER -->            


						<!-- START TEAM MEMBER --> 
						<div class="team-member">
							<!-- START TEAM THUMBNAIL -->  
							<div class="team-thumb img-wrp">

								<!-- START MEMBER IMAGE --> 
								<img src="images/team/sram.jpg" alt="team">	
								<!-- END MEMBER IMAGE --> 
								<!-- START TEAM OVERLAY -->  
								<div class="team-overlay">
									<div class="img-overlay"></div>
									<!-- START OVERLAY CONTENT -->  
									<div class="overlay-content">                            

										<!-- START MEMBER ROLE --> 
										<h4>Founder - CTO</h4>
										<!-- END MEMBER ROLE --> 

										<!-- START PROFILE LINK --> 
										<p><a data-toggle="modal" href="#team-2" class="modal-popup-link view-profile">View Profile</a></p>
										<!-- END PROFILE LINK -->  
									</div><!-- END OVERLAY CONTENT -->  

								</div><!-- END TEAM OVERLAY -->          
							</div><!-- END TEAM THUMBNAIL -->  

							<!-- START TEAM DESCRIPTION -->  
							<div class="team-desc">
								<h4>Norbert Sram</h4>
							</div>  
							<!-- END TEAM DESCRIPTION -->  




							<!-- START TEAM MEMBER BIO MODAL POPUP  -->
							<div id="team-2" class="modal hide fade.in animated fadeIn">

								<!-- START TEAM BIO -->       
								<div class="member-bio">
									<div class="container">      

										<!-- START MODAL POPUP CLOSE BUTTON -->                                     
										<a href="#" class="close" data-dismiss="modal">×</a>
										<!-- END MODAL POPUP CLOSE BUTTON -->


										<!-- START MEMBER NAME AND ROLE --> 
										<div class="member-role">
											<h1>Norbert Sram</h1>
											<h4 class="highlight">Founder - CTO</h4>
										</div>
										<!-- END MEMBER NAME AND ROLE -->  


										<div class="row">
											<div class="seven columns">
												<!-- START MEMBER IMAGE --> 
												<img src="images/team/sram.jpg" alt="team">	
												<!-- END MEMBER IMAGE --> 
											</div><!-- END COLUMN --> 

											<!-- START MEMBER DESCRIPTION --> 
											<div class="eight columns member-description">
												<p class="lead">If you have to say one thing about Norbert, it would be that he LOVES software development. He has a PhD in software engineering and he lifts heavy weights whenever he can</p>
												<div class="social-icon social-email"><a href="mailto:norbert.schramm@gmail.com" target="_blank" data-original-title="Email">Email</a></div>

											</div><!-- END MEMBER DESCRIPTION -->   

										</div><!-- END ROW -->  
									</div><!-- END CONTAINER --> 
								</div><!-- END TEAM BIO -->                     
							</div><!-- END TEAM MEMBER BIO MODAL POPUP -->  
						</div><!-- END TEAM MEMBER -->           


						<!-- START TEAM MEMBER --> 
						<div class="team-member">
							<!-- START TEAM THUMBNAIL -->  
							<div class="team-thumb img-wrp">

								<!-- START MEMBER IMAGE --> 
								<img src="images/team/longcat.jpg" alt="team">	
								<!-- END MEMBER IMAGE --> 
								<!-- START TEAM OVERLAY -->  
								<div class="team-overlay">
									<div class="img-overlay"></div>
									<!-- START OVERLAY CONTENT -->  
									<div class="overlay-content">                            

										<!-- START MEMBER ROLE --> 
										<h4>Longcat</h4>
										<!-- END MEMBER ROLE --> 

										<!-- START PROFILE LINK --> 
										<p><a data-toggle="modal" href="#team-3" class="modal-popup-link view-profile">View Profile</a></p>
										<!-- END PROFILE LINK -->  
									</div><!-- END OVERLAY CONTENT -->  

								</div><!-- END TEAM OVERLAY -->          
							</div><!-- END TEAM THUMBNAIL -->  

							<!-- START TEAM DESCRIPTION -->  
							<div class="team-desc">
								<h4>Longcat</h4>
							</div>  
							<!-- END TEAM DESCRIPTION -->  




							<!-- START TEAM MEMBER BIO MODAL POPUP  -->
							<div id="team-3" class="modal hide fade.in animated fadeIn">

								<!-- START TEAM BIO -->       
								<div class="member-bio">
									<div class="container">      

										<!-- START MODAL POPUP CLOSE BUTTON -->                                     
										<a href="#" class="close" data-dismiss="modal">×</a>
										<!-- END MODAL POPUP CLOSE BUTTON -->


										<!-- START MEMBER NAME AND ROLE --> 
										<div class="member-role">
											<h1>Longcat</h1>
											<h4 class="highlight">Longcat</h4>
										</div>
										<!-- END MEMBER NAME AND ROLE -->  


										<div class="row">
											<div class="seven columns">
												<!-- START MEMBER IMAGE --> 
												<img src="images/team/longcat.jpg" alt="team">	
												<!-- END MEMBER IMAGE --> 
											</div><!-- END COLUMN --> 

											<!-- START MEMBER DESCRIPTION --> 
											<div class="eight columns member-description">
												<p class="lead">He is the beginning and the end, he is alpha and omega, he is god and the devil. Longcat is loooooooooooooooooooooong</p>

												<div class="social-icon social-email"><a href="mailto:hallo@example.com" target="_blank" data-original-title="Email">Email</a></div>
											</div><!-- END COLUMN --> 

										</div><!-- END ROW -->  
									</div><!-- END CONTAINER --> 
								</div><!-- END TEAM BIO -->                     
							</div><!-- END TEAM MEMBER BIO MODAL POPUP -->  
						</div><!-- END TEAM MEMBER -->          

					</div><!-- END SIXTEEN COULMNS --> 
				</div> <!-- END ROW -->     
			</div><!-- END CONTAINER --> 
		</div>
	</div>
	<!-- END TEAM SECTION --> 

	<!-- START SERVICES SECTION -->
	<div id="services" class="page">    


		<div class="container">	
			<div class="row">	
				<div class="sixteen columns">            
					<!-- START TITLE -->	            
					<div class="title">
						<h1>Our Services</h1>
						<div class="subtitle">
							<p>Our services are delivered by our team with <span class="highlight">years of experience</span> are <span class="highlight">passionate</span> about developing business.</p>
						</div><!-- END SUBTITLE -->
					</div><!-- END TITLE -->  	                           
				</div><!-- END SIXTEEN COLUMNS -->  
			</div><!-- END ROW -->         
		</div><!-- END CONTAINER -->       

		<div class="fullwidth grey">       

			<div class="container clearfix">
				<div class="row">

					<div class="one-third column">
						<!-- START service-box -->
						<div class="service-box">
							<!-- START ICON -->
							<div>
								<h3>Software development</h3>                
								<i class="service-icon icon-rocket"></i>
							</div>
							<!-- END ICON -->  

							<!-- START service-box DESCIPTION --> 
							<div class="service-description">
								<p>This is the backbone of our team and we won't be shy: We are pretty good at it :)</p>
							</div>
							<h6>What we offer</h6>
							<ul class="styled-list">
								<li>Custom software development</li>
								<li>Rapid prototyping</li>
								<li>Infrastructure setup</li>
								<li>Maintenance</li>
							</ul>
							<!-- START service-box DESCIPTION --> 

						</div> <!-- END service-box -->                                   
					</div> <!-- END ONETHIRD COLUMN --> 




					<div class="one-third column">
						<!-- START service-box -->
						<div class="service-box">
							<!-- START ICON -->
							<div>
								<h3>Data science</h3>                
								<i class="service-icon icon-beaker"></i>
							</div>
							<!-- END ICON -->  

							<!-- START service-box DESCIPTION --> 
							<div class="service-description">
								<p>If Your database seems as an untouchable black box, fear not! We can disect it and gain new information from it that will amaze you!</p>
							</div> 

							<h6>What we offer</h6>

							<ul class="styled-list">
								<li>Personalized exploration</li>
								<li>Data mining</li>
								<li>Investigation</li>
								<li>Machine learning</li>
							</ul>

							<!-- START service-box DESCIPTION --> 

						</div> <!-- END service-box -->                                   
					</div> <!-- END ONETHIRD COLUMN --> 

					<div class="one-third column">
						<!-- START service-box -->
						<div class="service-box">
							<!-- START ICON -->
							<div>
								<h3>Consulting</h3>                
								<i class="service-icon icon-tablet"></i>
							</div>
							<!-- END ICON -->  

							<!-- START service-box DESCIPTION --> 
							<div class="service-description">
								<p>As seasoned IT veterans, providing Your company with good advices will be extremely beneficial for You</p>
							</div>
							<!-- START service-box DESCIPTION --> 
							<h6>What we offer</h6>
							<ul class="styled-list">
								<li>Workforce training</li>
								<li>Infrastructure analysis</li>
								<li>IT - Business connection evaluation</li>
								<li>Support of decision making</li>
							</ul>

						</div> <!-- END service-box -->                                   
					</div> <!-- END ONETHIRD COLUMN --> 

				</div>  <!-- END ROW -->  
			</div> <!-- END CONTAINER -->  

		</div>

	</div>
	<!-- END SERVICES SECTION -->


	<!-- START CONTACT SECTION -->
	<div id="contact" class="page">

		<div class="container">	
			<div class="row">	
				<div class="sixteen columns">            
					<!-- START TITLE -->	            
					<div class="title">
						<h1>Contact Us</h1>
						<div class="subtitle">
							<p>We'd really love to <span class="highlight">hear from you</span> so why not drop us an email and <span class="highlight">we'll get back</span> to you as soon as we can.</p>
						</div><!-- END SUBTITLE -->
					</div><!-- END TITLE -->  	                           
				</div><!-- END SIXTEEN COLUMNS -->  
			</div><!-- END ROW -->         
		</div><!-- END CONTAINER -->         
		<div class="container clearfix">
			<div class="sixteen columns">

				<!-- START CONTACT BOX -->
				<div class="contact-box">
					<!-- START CONTACT FORM -->
					<div id="contact-form">			
						<form action="#" method="post">

							<div id="contact-input">
								<!--[if IE]>
					<label for="name">Name</label>
				<![endif]-->
								<input type="text" name="contact[name]" id="name" placeholder="Name (required)" >
								<!--[if IE]>
						<label for="email">Email</label>
					<![endif]-->
								<input type="text" name="contact[email]" id="email" placeholder="Email (required)">
								<!--[if IE]>
						<label for="subject">Subject</label>
					<![endif]-->
								<input type="text" name="contact[subject]" id="subject" placeholder="Subject" >
							</div>
							<div id="contact-textarea">
								<!--[if IE]>
						<label for="message">Your Message Here</label>
					<![endif]-->
								<textarea name="contact[message]" id="message" cols="39" rows="4" placeholder="Your Message"></textarea>
							</div>
							<div id="contact-submit">
								<div>
									<input name="submit" type="submit" id="submit" tabindex="5" value="Post Comment" class="comment-submit small button">
								</div>
							</div>
						</form> 
						<div class="clear"></div>
					</div>
					<div class="result"></div>  
					<!-- END CONTACT FORM -->


				</div>

				<!-- END CONTACT BOX -->
			</div> <!-- END SIXTEEN COLUMNS -->        
		</div><!-- END CONTAINER -->

		<!-- START COPYRIGHT SECTION -->   	
		<div class="copyright">
			<div class="container clearfix">
				<div class="sixteen columns">   
					<div class="copyright-logo"><a href="#">
							<h1>TACGNOL</h1>
							<!--<img src="images/logo2.png" title="logo" alt="logo"/>-->
						</a>
					</div>   
				</div> <!-- END SIXTEEN COLUMNS -->        
			</div><!-- END CONTAINER -->
		</div>
		<!-- END COPYRIGHT SECTION -->	 

	</div>
	<!-- END CONTACT SECTION -->		


</div><!-- END PAGE WRAP -->

<div id="back-to-top"><a href="#">Back to Top</a></div>


<!-- JARVIS THEME SCRIPTS -->
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>         
<!--<script type="text/javascript" src="js/jquery.tweet.js"></script>-->         
<script type="text/javascript" src="js/jquery.form.js"></script>
<script type="text/javascript" src="js/jquery.queryloader2.js"></script>        
<script type="text/javascript" src="js/modernizr-2.6.2.min.js"></script>  
<script type="text/javascript" src="js/jquery.fitvids.js"></script>  
<script type="text/javascript" src="js/jquery.appear.js"></script>  
<script type="text/javascript" src="js/jquery.slabtext.min.js"></script>   
<script type="text/javascript" src="js/jquery.fittext.js"></script>   
<script type="text/javascript" src="js/jquery.easing.min.js"></script>
<script type="text/javascript" src="js/jquery.parallax-1.1.3.js"></script>
<script type="text/javascript" src="js/jquery.prettyPhoto.js"></script>
<script type="text/javascript" src="js/jquery.sticky.js"></script>
<script type="text/javascript" src="js/selectnav.min.js"></script>    
<script type="text/javascript" src="js/SmoothScroll.js"></script>   
<script type="text/javascript" src="js/jquery.flexslider-min.js"></script>    
<script type="text/javascript" src="js/isotope.js"></script>    
<script type="text/javascript" src="js/bootstrap-modal.js"></script>   
<script type="text/javascript" src="js/shortcodes.js"></script>     
<script type="text/javascript" src="js/scripts.js"></script>            


</body>

</html>
